In [2]:
import pandas as pd

df = pd.read_csv(r"C:\Users\malus\OneDrive\Desktop\dsbda\gender_submission.csv") 
df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [4]:
df.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [22]:
print(df.describe())

       PassengerId    Survived
count   418.000000  418.000000
mean   1100.500000    0.363636
std     120.810458    0.481622
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

In [24]:
print(df.dtypes)

PassengerId    int64
Survived       int64
dtype: object

In [26]:
print(df.shape)

(418, 2)

In [32]:
df['Survived'] = df['Survived'].astype('category')

In [34]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[['PassengerId']] = scaler.fit_transform(df[['PassengerId']])

In [36]:
df.head()

   PassengerId Survived
0     0.000000        0
1     0.002398        1
2     0.004796        0
3     0.007194        0
4     0.009592        1